<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RCCsv_ProductAttributeImport::menu"
             title="RC-CSV Import Suite" module="RCCsv_ProductAttributeImport"
             sortOrder="10"
             resource="Magento_Backend::content"
        />

        <add id="RCCsv_ProductAttributeImport::menu_item"
             title="Import Product Attribute" module="RCCsv_ProductAttributeImport"
             sortOrder="10" parent="RCCsv_ProductAttributeImport::menu"
             action="import_attribute/index/index"
             resource="RCCsv_ProductAttributeImport::menu_item"
        />
        <add id="RCCsv_ProductAttributeImport::menu_item_config"
             title="Configure Product Import Schedule" module="RCCsv_ProductAttributeImport"
             sortOrder="10" parent="RCCsv_ProductAttributeImport::menu"
             action="admin/system_config/edit/section/RCCsv"
             resource="RCCsv_ProductAttributeImport::menu_item"
        />
    </menu>
</config>
